body {
  margin: 15;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 75px;
}
@media only screen and (max-width: 768px) { 
  body { 
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 25px;
  } 
  
}
.mobile {
    text-align: center;
  }

  span{
    color: grey;
    font-size: medium;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#verse_result{
  white-space: pre-line;
  font-family: 'Times New Roman', Times, serif;
}

#card-header{
  font-size: large;
  font-weight: bold;
}

.image{
  display: block;
  max-width:150px;
  max-height:150px;
  width: auto;
  height: auto;  
}
.title-verse{
  margin-left: auto; 
  margin-right: 0;  
  font-style: italic;
}

.header {
  text-align: center;
  font-size: large;
}
.scripture{
  line-height: 1.75;
}
.footer {
  font-size: small;
  text-align: center;
}
.form{
  padding-top: 50px;
}
#box{
  padding-top: 30px;
}